# Environment settings
NODE_ENV=development    # Used by the Node.js app
DEPLOYMENT_ENT=dev      # Used to determine which environment the app is running in

# Logging
LOG_LEVEL=debug

# The path prefix for the API (without trailing slash)
API_PATH_PREFIX=/api/v1

# The port for the API
APP_PORT=4060

# The domain name for the API
DOMAIN_NAME=localhost:3000

# The JSON Web Token (JWT) secret
JWT_SECRET=secret
# The name of the cookie that stores the JWT (if applicable)
JWT_COOKIE_NAME=cookie-name

# Port for the UI (used when generating dmp_id URLs for unregistered Plans)
UI_PORT=3000

# The DMP Id components (used when generating dmp_id URLs for registered Plans)
DMP_ID_BASE_URL=https://doi.org
DMP_ID_SHOULDER=00.00000/A1

# The maximum allowed size for a DMP JSON payload
DMP_PAYLOAD_SIZE_LIMIT_MB=50
