# Environment settings
NODE_ENV=development    # Used by the Node.js app
DEPLOYMENT_ENV=dev      # Used to determine which environment the app is running in

# Logging
LOG_LEVEL=debug

# The path prefix for the API (without trailing slash)
API_V3_PATH_PREFIX=/api/v3

# The domain name for the API (without trailing slash)
API_DOMAIN=localhost:3000
# The port for the API
API_PORT=4060

# The name of your API Application
APPLICATION_NAME=my-api

# The identifier of the system making the call to the API (used to define the provenance of the data)
DEFAULT_CALLER=my-system

# The JSON Web Token (JWT) secret
JWT_SECRET=secret
# The name of the cookie that stores the JWT (if applicable)
JWT_COOKIE_NAME=cookie-name

# The DMP Id components (used when generating dmp_id URLs for registered Plans)
DMP_ID_BASE_URL=https://doi.org  # (without trailing slash)
DMP_ID_SHOULDER=00.00000/A1

# The maximum allowed size for a DMP JSON payload
DMP_PAYLOAD_SIZE_LIMIT_MB=50

# The domain and port that can be used to download the DMP narrative
NARRATIVE_DOWNLOAD_DOMAIN=localhost
NARRATIVE_DOWNLOAD_PORT=4030

# The domain and port where the DMP landing page lives
LANDING_PAGE_DOMAIN=localhost
LANDING_PAGE_PORT=4060

# Also refer to the ENV variables defined in the local docker-compose.yaml file
# those variables will need to be defined along with the ones above when you
# deploy the application to a production environment
